<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="Search()">Search</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col col-6 col-md-4 col-xl-3 *ngFor="let item of datao">
        <a [routerLink]="['/detail', item.id]">
          <img src={{item.thumbs.small}}>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
