<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="SaveImage()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src={{datao.path}}>
  <p>Upload Date: {{datao.created_at}}</p>
  <p>Resolution: {{datao.resolution}}</p>
  <p>Category: {{datao.category}}</p>
  <p>ID: {{datao.id}}</p>
  <p>Views: {{datao.views}}</p>
  
</ion-content>
